extends layout

block content
  h1= title
  p Search results Icecream  
  p 
  div(class="container-fluid")
        div(class="row")
            -
                let Icecream = [
                    {
                        "brand": "Masquati",
                        "flavour": "Chocolate" ,
                        "cost": 30
                    },
                    {
                        "brand": "Magnum",
                        "flavour": "Strawberry" ,
                        "cost": 25
                    },
                    {
                        "brand": "Quality",
                        "flavour": "Coconut" ,
                        "cost": 40
                    },                   
                ]
            each v,index in Icecream 
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.flavour}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}

  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }
  